.DS_Store

intro-machine-learning

**/archive
**/class-repo
**/checkpoints
**/**checkpoints

**/data
**/MNIST_data
**/test_data
**.tar.gz
**/input
**/inputs

**/images
!/ai-nano/projects/1-sudoku/images
!**/results/images
**/**images
**/flower_photos
**/photos
**/**photos

**/**logs**
**/**models**
**/.outdir

**/reading

**/setup
