.DS_Store

intro-machine-learning

**/archive
**/class-repo
**/checkpoints
**/**checkpoints

**/data
**/MNIST_data
**/test_data
**.tar.gz
**/input
**/inputs

**/exercises
**/.ipynb_checkpoints

**/images
!**/results/images
**/**images
**/flower_photos
**/photos
**/**photos
**/videos

**/mac_sim.app
!**/models/gold
**/test_models
**/reading
**/research
**/setup

**/simulator

!/ai-nano/projects/1-sudoku/images
!/ai-nano/projects/3-planning/images
!/deep-learning-nano/exercises
!/self-driving-nano/projects/2-traffic-signs/images
